/* Typography (heading) */
  @font-face {
  font-family: "Instrument Sans";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("//gelatocrema.com/cdn/fonts/instrument_sans/instrumentsans_n4.db86542ae5e1596dbdb28c279ae6c2086c4c5bfa.woff2") format("woff2"),
       url("//gelatocrema.com/cdn/fonts/instrument_sans/instrumentsans_n4.510f1b081e58d08c30978f465518799851ef6d8b.woff") format("woff");
}

@font-face {
  font-family: "Instrument Sans";
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  src: url("//gelatocrema.com/cdn/fonts/instrument_sans/instrumentsans_i4.028d3c3cd8d085648c808ceb20cd2fd1eb3560e5.woff2") format("woff2"),
       url("//gelatocrema.com/cdn/fonts/instrument_sans/instrumentsans_i4.7e90d82df8dee29a99237cd19cc529d2206706a2.woff") format("woff");
}

/* Typography (body) */
  @font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("//gelatocrema.com/cdn/fonts/inter/inter_n4.b2a3f24c19b4de56e8871f609e73ca7f6d2e2bb9.woff2") format("woff2"),
       url("//gelatocrema.com/cdn/fonts/inter/inter_n4.af8052d517e0c9ffac7b814872cecc27ae1fa132.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  src: url("//gelatocrema.com/cdn/fonts/inter/inter_i4.feae1981dda792ab80d117249d9c7e0f1017e5b3.woff2") format("woff2"),
       url("//gelatocrema.com/cdn/fonts/inter/inter_i4.62773b7113d5e5f02c71486623cf828884c85c6e.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url("//gelatocrema.com/cdn/fonts/inter/inter_n7.02711e6b374660cfc7915d1afc1c204e633421e4.woff2") format("woff2"),
       url("//gelatocrema.com/cdn/fonts/inter/inter_n7.6dab87426f6b8813070abd79972ceaf2f8d3b012.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
  src: url("//gelatocrema.com/cdn/fonts/inter/inter_i7.b377bcd4cc0f160622a22d638ae7e2cd9b86ea4c.woff2") format("woff2"),
       url("//gelatocrema.com/cdn/fonts/inter/inter_i7.7c69a6a34e3bb44fcf6f975857e13b9a9b25beb4.woff") format("woff");
}

:root {
    /* Container */
    --container-max-width: 100%;
    --container-xxs-max-width: 27.5rem; /* 440px */
    --container-xs-max-width: 42.5rem; /* 680px */
    --container-sm-max-width: 61.25rem; /* 980px */
    --container-md-max-width: 71.875rem; /* 1150px */
    --container-lg-max-width: 78.75rem; /* 1260px */
    --container-xl-max-width: 85rem; /* 1360px */
    --container-gutter: 1.25rem;

    --section-with-border-vertical-spacing: 2.5rem;
    --section-with-border-vertical-spacing-tight:2.5rem;
    --section-without-border-vertical-spacing:3.75rem;
    --section-without-border-vertical-spacing-tight:3.75rem;

    --section-stack-gap:3rem;
    --section-stack-gap-tight: 2.25rem;

    /* Form settings */
    --form-gap: 1.25rem; /* Gap between fieldset and submit button */
    --fieldset-gap: 1rem; /* Gap between each form input within a fieldset */
    --form-control-gap: 0.625rem; /* Gap between input and label (ignored for floating label) */
    --checkbox-control-gap: 0.75rem; /* Horizontal gap between checkbox and its associated label */
    --input-padding-block: 0.65rem; /* Vertical padding for input, textarea and native select */
    --input-padding-inline: 0.8rem; /* Horizontal padding for input, textarea and native select */
    --checkbox-size: 0.875rem; /* Size (width and height) for checkbox */

    /* Other sizes */
    --sticky-area-height: calc(var(--announcement-bar-is-sticky, 0) * var(--announcement-bar-height, 0px) + var(--header-is-sticky, 0) * var(--header-height, 0px));

    /* RTL support */
    --transform-logical-flip: 1;
    --transform-origin-start: left;
    --transform-origin-end: right;

    /**
     * ---------------------------------------------------------------------
     * TYPOGRAPHY
     * ---------------------------------------------------------------------
     */

    /* Font properties */
    --heading-font-family: 'Inter', sans-serif;
    --heading-font-weight: 400;
    --heading-font-style: normal;
    --heading-text-transform: uppercase;
    --heading-letter-spacing: 0;
    --text-font-family: Inter, sans-serif;
    --text-font-weight: 400;
    --text-font-style: normal;
    --text-letter-spacing: 0.0em;
    --button-text-transform: uppercase;
    --button-letter-spacing: 0.18em;

    /* Font sizes */--text-heading-size-factor: 1;
    --text-h1: max(0.6875rem, clamp(1.375rem, 1.146341463414634rem + 0.975609756097561vw, 2rem) * var(--text-heading-size-factor));
    --text-h2: max(0.6875rem, clamp(1.25rem, 1.0670731707317074rem + 0.7804878048780488vw, 1.75rem) * var(--text-heading-size-factor));
    --text-h3: max(0.6875rem, clamp(1.125rem, 1.0335365853658536rem + 0.3902439024390244vw, 1.375rem) * var(--text-heading-size-factor));
    --text-h4: max(0.6875rem, clamp(1rem, 0.9542682926829268rem + 0.1951219512195122vw, 1.125rem) * var(--text-heading-size-factor));
    --text-h5: calc(0.875rem * var(--text-heading-size-factor));
    --text-h6: calc(0.75rem * var(--text-heading-size-factor));

    --text-xs: 0.75rem;
    --text-sm: 0.8125rem;
    --text-base: 0.875rem;
    --text-lg: 1.0rem;
    --text-xl: 1.125rem;

    /**
     * ---------------------------------------------------------------------
     * COLORS
     * ---------------------------------------------------------------------
     */

    /* Color settings */--accent: 28 28 28;
    --text-primary: 28 28 28;
    --background-primary: 239 239 239;
    --background-secondary: 255 255 255;
    --border-color: 207 207 207;
    --page-overlay: 0 0 0 / 0.4;

    /* Button colors */
    --button-background-primary: 28 28 28;
    --button-text-primary: 255 255 255;

    /* Status colors */
    --success-background: 212 227 203;
    --success-text: 48 122 7;
    --warning-background: 253 241 224;
    --warning-text: 237 138 0;
    --error-background: 243 204 204;
    --error-text: 203 43 43;

    /* Product colors */
    --on-sale-text: 227 44 43;
    --on-sale-badge-background: 227 44 43;
    --on-sale-badge-text: 255 255 255;
    --sold-out-badge-background: 239 239 239;
    --sold-out-badge-text: 0 0 0 / 0.65;
    --custom-badge-background: 28 28 28;
    --custom-badge-text: 255 255 255;
    --star-color: 28 28 28;

    /* Header colors */--header-background: 255 255 255;
    --header-text: 28 28 28;
    --header-border-color: 221 221 221;

    /* Footer colors */--footer-background: 255 255 255;
    --footer-text: 28 28 28;
    --footer-border-color: 221 221 221;

    /* Modal colors */--modal-background: 255 255 255;
    --modal-text: 28 28 28;
    --modal-border-color: 221 221 221;

    /* Drawer colors (reuse the same as modal) */
    --drawer-background: 255 255 255;
    --drawer-text: 28 28 28;
    --drawer-border-color: 221 221 221;

    /* Popover background (uses the primary background) */
    --popover-background: 255 255 255;
    --popover-text: 28 28 28;
    --popover-border-color: 207 207 207;

    /* Rounded variables (used for border radius) */
    --rounded-full: 9999px;
    --button-border-radius: 0.0rem;
    --input-border-radius: 0.0rem;

    /* Box shadow */
    --shadow-sm: 0 2px 8px rgb(0 0 0 / 0.05);
    --shadow: 0 5px 15px rgb(0 0 0 / 0.05);
    --shadow-md: 0 5px 30px rgb(0 0 0 / 0.05);
    --shadow-block: px px px rgb(var(--text-primary) / 0.0);

    /**
     * ---------------------------------------------------------------------
     * OTHER
     * ---------------------------------------------------------------------
     */

    --checkmark-svg-url: url(//gelatocrema.com/cdn/shop/t/2/assets/checkmark.svg?v=77552481021870063511692601919);
    --cursor-zoom-in-svg-url: url(//gelatocrema.com/cdn/shop/t/2/assets/cursor-zoom-in.svg?v=112480252220988712521692601919);
  }

  [dir="rtl"]:root {
    /* RTL support */
    --transform-logical-flip: -1;
    --transform-origin-start: right;
    --transform-origin-end: left;
  }

  @media screen and (min-width: 700px) {
    :root {
      /* Typography (font size) */
      --text-xs: 0.75rem;
      --text-sm: 0.8125rem;
      --text-base: 0.875rem;
      --text-lg: 1.0rem;
      --text-xl: 1.25rem;

      /* Spacing settings */
      --container-gutter: 2rem;
    }
  }

  @media screen and (min-width: 1000px) {
    :root {
      /* Spacing settings */
      --container-gutter: 3rem;

      --section-with-border-vertical-spacing: 4rem;
      --section-with-border-vertical-spacing-tight: 4rem;
      --section-without-border-vertical-spacing: 6rem;
      --section-without-border-vertical-spacing-tight: 6rem;

      --section-stack-gap:3rem;
      --section-stack-gap-tight:3rem;
    }
  }


  /* DESKTOP */

  .crema-header{
    top:0rem;
    transition:all 0.5s;
  }
  .crema-header.announcement{ top:4rem; }

  .crema-header .content{
    grid-template-columns:10rem auto min-content;
    grid-gap:4rem;
  }

  .crema-header.white .logo .color{ display:none; }
  .crema-header.color .logo .white{ display:none; }

  .crema-header.opened .logo .color{ display:none; }
  .crema-header.opened .logo .white{ display:block; }

  .crema-header.white{ color:var(--white); }
  .crema-header.color{ color:var(--secondary); }
  
  .crema-header.opened{ color:var(--white); }
  

  .crema-header .nav{
    grid-template-columns:min-content auto;
    grid-gap:2rem;
    align-items: center;
  }
  .crema-header .nav .b-box{
    width:4rem;
    height:1.7rem;
  }
  .crema-header .nav .b-box .b{
    width:100%;
    height:1px;
    position:absolute;
    transition:all 0.5s;
  }
  
  .crema-header.color .nav .b-box .b{ background-color:var(--secondary); }
  .crema-header.white .nav .b-box .b{ background-color:var(--white); }

  .crema-header.opened .nav .b-box .b{ background-color:var(--white); }
  
  .crema-header .nav .b-box .b:nth-child(1){
    top:0;
  }
  .crema-header .nav .b-box .b:nth-child(2){
    top:50%;
    transform:translateY(-50%);
    opacity:1;
  }
  .crema-header .nav .b-box .b:nth-child(3){
    top:calc(100% - 1px);
  }

  .crema-header.opened .nav .b-box .b:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(0.375turn);
  }
  .crema-header.opened .nav .b-box .b:nth-child(2){
    opacity:0;
  }
  .crema-header.opened .nav .b-box .b:nth-child(3){
    top:50%;
    transform:translateY(-50%) rotate(-0.375turn);
  }
  
  .crema-header .nav .lbl .opened{ display:none; }
  .crema-header.opened .nav .lbl .closed{ display:none; }
  .crema-header.opened .nav .lbl .opened{ display:block; }


  .crema-header .cta{
    grid-template-columns:max-content max-content;
    grid-gap:4rem;
    align-items:center;
  }
  .crema-header .language-box .sel-false{
    opacity:0.3;
  }
  .crema-header .cta .btn{
    padding-top:1.2rem;
    padding-bottom:1.2rem;
  }

  .crema-header .menu{
    top:-100%;
    left:0;
    transition:all 0.5s;
    transition-delay:0.5s;
  }
  .crema-header.opened .menu{
    top:0%;
    transition-delay:0s;
  }


  .crema-header .menu .blocks{
    position:absolute;
    bottom:0;
    left:0;
    grid-template-columns:34.5rem auto;
    grid-gap:38rem;
    align-items:end;
  }
  .crema-header .menu .blocks .policy{
    grid-template-columns:repeat(2, max-content);
    grid-gap:2rem;
  }
  .crema-header .menu .blocks .policy a{
    opacity:0.7;
    transition:all 0.5s;
  }
  .crema-header .menu .blocks .policy a:hover{
    opacity:1;
    color:var(--primary);
  }


  .crema-header .menu .blocks .newsletter .privacy a{
    text-decoration:underline;
  }
  .crema-header .menu .blocks .newsletter .btn-arrow{
    width: 4rem;
    top: 50%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
  }


  .crema-header .menu .blocks .social{
    grid-template-columns:repeat(2, 6rem);
    grid-gap:2rem;
    opacity:0;
    transition:all 0.5s;
    transition-delay:0s;
  }
  .crema-header.opened .menu .blocks .social{
    opacity:1;
    transition-delay:0.9s;
  }

  .crema-header.opened .menu .blocks .credits{
    opacity:1;
    transition-delay:1s;
  }

  
  .crema-header .menu .blocks .sect{
    opacity:0;
    transition:all 0.5s;
    transition-delay:0s;
  }
  .crema-header.opened .menu .blocks .sect{ opacity:1; }

  .crema-header.opened .menu .blocks .sect:nth-child(1){ transition-delay:0.5s; }
  .crema-header.opened .menu .blocks .sect:nth-child(2){ transition-delay:0.6s; }
  .crema-header.opened .menu .blocks .sect:nth-child(3){ transition-delay:0.7s; }
  .crema-header.opened .menu .blocks .sect:nth-child(4){ transition-delay:0.8s; }
  .crema-header.opened .menu .blocks .sect:nth-child(5){ transition-delay:0.9s; }
  
  
  
  .crema-header .menu .links .link-box{
    height:11.5rem;
  }
  .crema-header .menu .links .link-box a{
    transform:translateY(-100%);
    opacity:0;
    transition:all 0.5s;
    transition-delay:0s;
  }
  .crema-header.opened .menu .links .link-box a{
    transform:translateY(0%);
    opacity:1;
  }

  .crema-header.opened .menu .links .link-box:nth-child(1) a{ transition-delay:0.5s; }
  .crema-header.opened .menu .links .link-box:nth-child(2) a{ transition-delay:0.6s; }
  .crema-header.opened .menu .links .link-box:nth-child(3) a{ transition-delay:0.7s; }
  .crema-header.opened .menu .links .link-box:nth-child(4) a{ transition-delay:0.8s; }
  .crema-header.opened .menu .links .link-box:nth-child(5) a{ transition-delay:1.3s; }
  .crema-header.opened .menu .links .link-box:nth-child(6) a{ transition-delay:1.5s; }
  
  .crema-header.opened .menu .links .link-box a:hover{
    color:var(--primary);
    transition-delay:0s !important;
  }

  
  /* MOBILE */
  @media only screen and (max-width: 1023px){

    .crema-header .content{
      grid-template-columns:7.5rem auto min-content;
      grid-gap:2rem;
    }

    .crema-header .nav{
      grid-template-columns:auto;
      grid-gap:0rem;
    }
    .crema-header .nav .b-box{
      width:3rem;
      height:1.8rem;
    }

    .crema-header .cta{
      grid-template-columns:auto;
      grid-gap:0rem;
      align-items:center;
    }
    .crema-header .cta .btn{
      padding-top:1rem;
      padding-bottom:1rem;
      font-size:1.2rem;
    }

    .crema-header .menu .content{
      overflow:scroll;
    }
    .crema-header .menu .blocks{
      grid-template-columns:auto;
      grid-gap:6rem;
      position:unset;
      padding-top:15rem;
      padding-bottom:4rem;
    }
    .crema-header .menu .blocks .links{ order:1; }
    .crema-header .menu .blocks .info{ order:2; }

    .crema-header .menu .links .link-box{
      height:fit-content;
    }


    

    .crema-header .menu .blocks .social {
      grid-template-columns: repeat(2, 6rem);
      grid-gap: 1.5rem;
    }
  }


  /* DESKTOP */


  #section-template__20604488286489__3e7beadb_0878_473a_971e_77c2399250c9 .overlay{
    background-color:var(--black);
    opacity:15%;
  }

  .crema-full-content .text{
    left:0;
    bottom:0;
  }

  .crema-full-content .text .subtit{
    width: 83rem;
  }
  .crema-full-content .btn-scroll{
    width:15rem;
    height:15rem;
    border-radius:50%;
    right:0;
    bottom:0;
  }
  .crema-full-content .text .btn:hover{
    background-color:var(--);
  }

  

  

  
  /* MOBILE */
  @media only screen and (max-width: 1023px){
    .crema-full-content{
      padding-bottom:4rem !important;
    }
    .crema-full-content.container-full-desktop{
      width:100%;
    }

    .crema-full-content .text {
      width:35rem;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      text-align:center;
    }
    .crema-full-content .text .subtit{
      width: 100%;
    }

    
    .crema-full-content .btn-scroll{
      width:8rem;
      height:8rem;
      border-radius:50%;
      right:50%;
      bottom:0;
      transform:translateX(50%);
    }
    
    
  }


  /* DESKTOP */

  .crema-image-slider .columns{
    grid-template-columns:71.5rem auto;
  }

  .crema-image-slider .text .second{
    width:32.5rem;
    bottom:0;
    position:absolute;
  }
  .crema-image-slider .text .second .image{
    width:16rem;
  }

  .crema-image-slider .slider-image{
    height:100%;
    overflow:hidden;
  }

  .crema-image-slider .slider-image .swiper-wrapper{
    height:calc(100% - 5rem);
  }

  .crema-image-slider .slider-image .swiper-slide img{
    width:100%;
    margin-left:0%;
  }

  .crema-image-slider .slider-image .swiper-scrollbar.swiper-scrollbar-horizontal {
    left:0;
    bottom:0;
    height: 0.6rem;
    width: 100%;
    border-radius:0px;
  }
  .crema-image-slider .slider-image .swiper-scrollbar-drag {
    background:var(--primary);
    border-radius: 0px;
    cursor:grab;
  }
    
  /* MOBILE */
  @media only screen and (max-width: 1023px){

    .crema-image-slider{
      padding-top:6rem;
      padding-bottom:8rem !important;
    }

    .crema-image-slider .columns{
      grid-template-columns:auto;
    }

    .crema-image-slider .text .second{
      width:26rem;
      bottom:auto;
      position:unset;
    }
    .crema-image-slider .text .second .image{
      width:12.7rem;
    }

    .crema-image-slider .slider-image .swiper-wrapper{
      height: calc(100% - 1.5rem);
    }
    .crema-image-slider .slider-image .swiper-scrollbar.swiper-scrollbar-horizontal {
      height: 0.6rem;
    }
    
  }


  /* DESKTOP */

  .crema-boutiques-list .head{
    grid-template-columns:51.5rem auto;
  }

  .crema-boutiques-list .content{
    display:flex;
    gap:1.5rem;
  }
  .crema-boutiques-list .boutique{
    width:51.5rem;
  }

  .crema-boutiques-list .boutique .image{
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
  }
    
  /* MOBILE */
  @media only screen and (max-width: 1023px){

   
    .crema-boutiques-list .head{
      grid-template-columns:auto;
      gri-gap:5rem;
    }

    .crema-boutiques-list .content{
      display:block;
    }

    .crema-boutiques-list .boutique .image{
      position:unset;
      width:100%;
      bottom:auto;
      left:auto;
    }

    .crema-boutiques-list .boutique{
      width:100%;
    }
    
  }


  /* DESKTOP */


  .crema-styles .title{
    width: 130rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
  }
  .crema-styles .main-title{
    line-height:1;
  }

  .crema-styles .description-box{
    width: 32.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-200%, -70%);
  }

  
  .crema-styles .image-center{
    width:56rem;
    height:56rem;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }

  .crema-styles .image-center img{
    transform:scale(1.3) !important;
  }
  
  .crema-styles .image-particles{
    width:52rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -170%);
  }
  
  .crema-styles .image-cone{
    width:42rem;
    position:absolute;
    bottom:50%;
    left:50%;
    transform: translate(-10%, 105%);
  }


  
  /* MOBILE */
  @media only screen and (max-width: 1023px){

     .crema-styles .title{
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        transform:unset;
      }

      .crema-styles .image-particles{
        width: 24rem;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: -7rem auto -6rem;
      }
  
      .crema-styles .image-center{
        width:27rem;
        height:27rem;
        border-radius:50%;
        position:unset;
        transform:none;
        margin-left:auto;
        margin-right:auto;
      }
      .crema-styles .image-center img{
        width:150%;
        height:150%;
        margin-top: -25%;
        margin-left: -25%;
      }

      .crema-styles .image-cone{
        width: 20rem;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: -20rem 15rem 0rem;
      }


      .crema-styles .description-box{
        width: 100%;
        position: unset;
        transform: none;
        text-align:center;
      }
      .crema-styles .description-box .btn{
        margin-left:auto;
        margin-right:auto;
      }
    
  }


  /* DESKTOP */


  .crema-full-content .overlay{
    background-color:var(--black);
    opacity:10%;
  }

  .crema-full-content .icons{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    gap:14rem;
    align-items:center;
    display:flex
  }
  .crema-full-content .icons .info{
    width:39.5rem;
    text-align:center;
  }
  .crema-full-content .icons .info .icon{
    width:10rem;
  }

  
  .crema-full-content .button-box{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, 0%);
  }

  
  /* MOBILE */
  @media only screen and (max-width: 1023px){

    .crema-icons{
      padding-top:14rem;
      padding-bottom:14rem !important;
    }

    .crema-full-content .icons{
      position:unset;
      transform:none;
      align-items:start;
      display:grid;
      grid-gap:4rem;
    }

    .crema-full-content .icons .info{
      width:100%;
      text-align:left;
      display:grid;
      grid-template-columns:6rem auto;
      grid-gap:2rem;
      align-items:start;
    }
    .crema-full-content .icons .info .icon{
      width:100%;
    }

    .crema-full-content .button-box{
      position:relative;
      bottom:unset;
      left:unset;
      transform:unset;
      width:fit-content;
      margin:6rem auto 0;
    }
    
  }


  /* DESKTOP */

  .crema-boutiques-map .content{
    grid-template-columns:60rem auto;
  }

  .crema-boutiques-map .list .boutique .name {
    padding-left:2rem;
    position:relative;
  }
  .crema-boutiques-map .list .boutique .name::after{
    content:'';
    width:1rem;
    height:1rem;
    background-color:var(--primary);
    display:block;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
    position:absolute;
    left:0;
  }
  
  .crema-boutiques-map .boutique .name{
    transition:all 0.2s;
  }
  .crema-boutiques-map .boutique .name:hover{
    color:var(--primary);
  }


  .crema-boutiques-map .delivery{
    position:absolute;
    bottom:0;
  }

  .crema-boutiques-map .delivery .logo{
    width:fit-content;
    height:3vh;
    mix-blend-mode:multiply;
  }
  .crema-boutiques-map .delivery .logo img{
    height: 100%;
  }

  .crema-boutiques-map .delivery .btns{
    flex-wrap:wrap;
  }

  .crema-boutiques-map .image-map{
    height:calc(100vh - 15vh - 6rem);
  }


  
  /* MOBILE */
  @media only screen and (max-width: 1023px){

    .crema-boutiques-map .content{
      grid-template-columns:auto;
      grid-gap:6rem;
      text-align:center;
    }

    .crema-boutiques-map .city-selector{
      width:fit-content;
      margin-right:auto;
      margin-left:auto;
      margin-bottom:4rem;
    }

    .crema-boutiques-map .list .boutique .name {
      padding-left:0rem;
    }
    .crema-boutiques-map .list .boutique .name::after{
      display:none
    }
    
    .crema-boutiques-map .delivery{
      position:relative;
      bottom:auto;
    }
    .crema-boutiques-map .delivery .logo {
      height:4vh;
      margin-right: auto;
      margin-left: auto;
    }

    .crema-boutiques-map .image-map{
      height:fit-content;
    }

    .crema-boutiques-map .delivery-box .btns{
      justify-content:center;
    }
    
  }


  /* DESKTOP */

  
  /* MOBILE */
  @media only screen and (max-width: 1023px){

    .crema-footer .newsletter .btn-arrow{
      top: 50%;
      right: 0;
      position: absolute;
      transform: translateY(-50%);
      width: 3rem;
    }

    .crema-footer .newsletter .privacy a{
      text-decoration:underline;
    }
    
    .crema-footer .blocks .policy{
      grid-template-columns:repeat(2, max-content);
      grid-gap:1.5rem;
    }
    .crema-footer .blocks .policy a{
      opacity:0.7;
      transition:all 0.5s;
    }
    .crema-footer .blocks .policy a:hover{
      opacity:1;
      color:var(--primary);
    }
    .crema-footer .social{
      grid-template-columns:repeat(2, 6rem);
      grid-gap:1.5rem;
    }
    
  }
